<%= link_to "SignOut", destroy_user_session_path(), :method => "delete" %>
<div class="row">
	<div class="col-lg-4">
		<div class="well">
			<div class="list-profile list-group list-group-flush">
				<div class="list-group-item">
					<div class="list-group-item-heading">Lorem Ipsum</div>
					<div class="list-group-item-score">$9999,99</div>
				</div>
				<div class="list-group-item">
					<div class="list-group-item-heading">Lorem Ipsum</div>
					<div class="list-group-item-score">$9999,99</div>
				</div>
				<div class="list-group-item">
					<div class="list-group-item-heading">Lorem Ipsum</div>
					<div class="list-group-item-score">$9999,99</div>
				</div>
			</div> <!-- / list group -->
			<div>
				<button class="btn btn-success btn-large">UITBETALEN</button>
				<button class="btn btn-warning btn-large">OPWAARDEREN</button>
			</div>
		</div>
	</div>
	<div class="col-lg-8">
		<nav class="navbar navbar-default" role="navigation">
			<ul class="nav navbar-nav pull-right nav-game">
				<li class="active"><a href="#"><div class="icon icon-user icon-2x"></div><div>Friends</div></a></li>
				<li><a href="#"><div class="icon icon-cog icon-2x"></div><div>Settings</div></a></li>
				<li><a href="#"><div class="icon icon-info-alt icon-2x"></div><div>Info</div></a></li>
				<li><a href="#"><div class="icon icon-volume-up icon-2x"></div><div>Sound</div></a></li>
				<li><a href="#"><div class="icon icon-fullscreen icon-2x"></div><div>Full Screen</div></a></li>
			</ul>
		</nav>
		<div class="rooms row-fluid">
			<div id="rooms-scroll">
				<ul class="list-unstyled">
					<li class="col-6 scroll-width bottom-margin">
						<div class="panel panel-red col-4">
							<div class="panel-heading">Red Room</div>
							<div class="panel-body">
								<ul class="list-group unstyled">
									<li class="list-group-item">Aantal seplers</li>
									<li class="list-group-item">Maximal Aantal</li>
									<li class="list-group-item">Vorige ronde</li>
								</ul>
								<a class="btn btn-block btn-large" href='/room'>Join Room</a>
							</div>
						</div>
						<div class="panel panel-green left-margin col-4">
							<div class="panel-heading">Green Room</div>
							<div class="panel-body">
								<ul class="list-group unstyled">
									<li class="list-group-item">Aantal seplers</li>
									<li class="list-group-item">Maximal Aantal</li>
									<li class="list-group-item">Vorige ronde</li>
								</ul>
								<a class="btn btn-block btn-large" href='/room'>Join Room</a>
							</div>
						</div>
						<div class="panel panel-blue left-margin col-4">
							<div class="panel-heading">Blue Room</div>
							<div class="panel-body">
								<ul class="list-group unstyled">
									<li class="list-group-item">Aantal seplers</li>
									<li class="list-group-item">Maximal Aantal</li>
									<li class="list-group-item">Vorige ronde</li>
								</ul>
								<a class="btn btn-block btn-large" href='/room'>Join Room</a>
							</div>
						</div>
					</li>
					<li class="col-6 scroll-width bottom-margin" >
						<div class="panel panel-blue  col-4">
							<div class="panel-heading">Blue Room</div>
							<div class="panel-body">
								<ul class="list-group unstyled">
									<li class="list-group-item">Aantal seplers</li>
									<li class="list-group-item">Maximal Aantal</li>
									<li class="list-group-item">Vorige ronde</li>
								</ul>
								<a class="btn btn-block btn-large" href='/room'>Join Room</a>
							</div>
						</div>
						<div class="panel panel-blue left-margin col-4">
							<div class="panel-heading">Blue Room</div>
							<div class="panel-body">
								<ul class="list-group unstyled">
									<li class="list-group-item">Aantal seplers</li>
									<li class="list-group-item">Maximal Aantal</li>
									<li class="list-group-item">Vorige ronde</li>
								</ul>
								<a class="btn btn-block btn-large" href='/room'>Join Room</a>
							</div>
						</div>
						<div class="panel panel-blue left-margin col-4">
							<div class="panel-heading">Blue Room</div>
							<div class="panel-body">
								<ul class="list-group unstyled">
									<li class="list-group-item">Aantal seplers</li>
									<li class="list-group-item">Maximal Aantal</li>
									<li class="list-group-item">Vorige ronde</li>
								</ul>
								<a class="btn btn-block btn-large" href='/room'>Join Room</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div id="gameCardsScrollbar" class="">
      <div class="scrollLeft pull-left"></div>
      <div class="scrollbar pull-left">
        <div class="handle"></div>
      </div>
      <div class="scrollRight pull-right"></div>
    </div>
    <script type="text/javascript">
      $(document).ready(function(){
 				var width = document.getElementById("rooms-scroll").offsetWidth;
 				$(document).find('li.scroll-width').css('width', width);
        $("#rooms-scroll").sly({
          horizontal: 1,
          itemNav: 'centered',
          smart: 1,
          activateOn: 'click',
          mouseDragging: 0,
          touchDragging: 0,
          releaseSwing: 1,
          startAt: 0,
          scrollSource: $('.rooms'),
          scrollBar: $('#gameCardsScrollbar .scrollbar'),
          scrollBy: 1,
          speed: 300,
          elasticBounds: 1,
          easing: 'easeOutExpo',
          dragHandle: 1,
          dynamicHandle: 0,
          clickBar: 0,

          // Buttons
          prev: $("#gameCardsScrollbar .scrollLeft"),
          next: $("#gameCardsScrollbar .scrollRight")
        });
      });
    </script>
		

		<div class="well">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, voluptate deleniti nam voluptatem autem quasi maxime sapiente quisquam minus dicta! Provident, molestiae accusamus cumque dicta ipsum blanditiis quae porro quibusdam ratione recusandae adipisci repellendus ut incidunt rem itaque. Aspernatur, velit ratione magnam est cupiditate officiis adipisci sunt consequuntur id quam.</div>
	</div>
</div>